.header-change{
    transition: all 1s;
    background-color: #20262E !important;
    
}

.header-change div div div button{
    color: white ;
}

.header-change div div ul li a {
    color: white !important;
}