<header
    [class.header-change]="headerVariable"
    class="p-1 text-bg-light fixed-top"
>
    <div class="containerr">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
                <svg
                    class="bi me-2"
                    width="60"
                    height="40"
                    role="img"
                    aria-label="Bootstrap"
                    style="
                        background-image: url(./../../../../assets/images/black-concrete-wall.jpg);
                    "
                >
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLink="/"
                        class="nav-link px-2 text-dark"
                        >Home</a
                    >
                </li>

                <li>
                    <a
                        [routerLinkActive]="'active'"
                        routerLink="/games"
                        class="nav-link px-2 text-dark"
                        >Games</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        class="nav-link px-2 text-dark"
                        routerLink="/users"
                        >Players</a
                    >
                </li>

                <li>
                    <a
                        [routerLinkActive]="'active'"
                        href="#"
                        class="nav-link px-2 text-dark"
                        >Store</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        routerLink="/contact"
                        class="nav-link px-2 text-dark"
                        >Contact</a
                    >
                </li>
                <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
                <li>
                    <input
                        [class.search-change]="searchVariable"
                        type="text"
                        placeholder="Search..."
                        class="form-control search-input searchHeader"
                    />
                </li>
            </ul>

            <div class="text-end">
                <button
                    *ngIf="!isLoggedIn"
                    routerLink="/login"
                    type="button"
                    class="btn btn-outline-dark me-2"
                >
                    Login
                </button>
                <button
                    *ngIf="!isLoggedIn"
                    type="button"
                    class="btn btn-danger"
                    routerLink="/register"
                >
                    Sign-up
                </button>

                <div
                    class="threeIconsDiv"
                    *ngIf="isLoggedIn"
                    style="
                        border-right: solid black 1px;
                        /* border: solid red; */
                        width: 200px;
                        height: 20px;
                        position: absolute;
                        top: 2vh;
                        left: 74vw;
                    "
                >
                    <span
                        routerLink="/admin/dashboard"
                        *ngIf="this.user.isAdmin"
                        class="dashboard"
                        >DASHBOARD</span
                    >
                    <label *ngIf="!this.user.isAdmin">
                        <i
                            class="bi bi-wallet-fill walletIcon"
                            title="Wallet"
                        ></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                        ></button>
                    </label>

                    <label *ngIf="!this.user.isAdmin">
                        <i class="bi bi-chat-fill chatIcon" title="Chats"></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDivChats(); markMessageAsRead()"
                        ></button>
                        <div
                            *ngIf="unreadMessagesNumber > 0"
                            class="messagesNumber"
                        >
                            {{ unreadMessagesNumber }}
                        </div>
                    </label>

                    <label *ngIf="!this.user.isAdmin">
                        <i
                            class="bi bi-bell-fill notificationIcon"
                            title="Notifications"
                        ></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDivNot(); markNotificationsAsRead()"
                        ></button>
                        <div
                            *ngIf="unreadNotificationNumber > 0"
                            class="notificationNumber"
                        >
                            {{ unreadNotificationNumber }}
                        </div>
                    </label>
                </div>

                <div
                    *ngIf="isLoggedIn"
                    style="
                        /* border: solid red; */
                        width: 250px;
                        height: 44px;
                        position: relative;
                    "
                >
                    <img
                        *ngIf="user.image"
                        class="imagee"
                        [style.background-image]="
                            'url(http://localhost:3000/' + user.image + ')'
                        "
                    />

                    <span class="username" routerLink="/users/{{ user.id }}">{{
                        user.username
                    }}</span>

                    <label>
                        <i class="bi bi-chevron-down arrowIcon"></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDiv()"
                        ></button>
                    </label>
                    <!-- Chats -->
                    <div
                        class="animate__animated animate__pulse chatsHiddenDiv"
                        [hidden]="!showDivChats"
                    >
                        <table
                            style="padding: 0; margin: 0"
                            class="table table-hover"
                        >
                            <thead>
                                <tr>
                                    <th
                                        style="
                                            font-size: larger;

                                            text-align: left;
                                            padding-left: 1vw;
                                            border: none;
                                        "
                                        scope="col"
                                    >
                                        Chats
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="
                                        let m of lastFiveMessages;
                                        let i = index
                                    "
                                >
                                    <tr>
                                        <td
                                            style="
                                                cursor: pointer;
                                                height: 68px;
                                                display: flex;
                                                text-align: left;
                                                border: none;
                                                padding-left: 1vw;
                                            "
                                            (click)="showMessages(i)"
                                        >
                                            <div>
                                                <img
                                                    *ngIf="
                                                        senderImagesForChat[i]
                                                    "
                                                    style="
                                                        border-radius: 50%;
                                                        width: 52px;
                                                        height: 52px;

                                                        cursor: pointer;
                                                    "
                                                    src="http://localhost:3000/{{
                                                        senderImagesForChat[i]
                                                    }}"
                                                />
                                            </div>
                                            <div style="padding-left: 15px">
                                                <div style="font-weight: 500">
                                                    {{ m.sender_username }}
                                                </div>
                                                <div style="color: #60759f">
                                                    <span>
                                                        {{
                                                            m.message.length >
                                                            18
                                                                ? m.message.slice(
                                                                      0,
                                                                      18
                                                                  ) + '...'
                                                                : m.message
                                                        }}
                                                    </span>
                                                    <small
                                                        style="
                                                            position: absolute;
                                                            right: 0;

                                                            margin-right: 10px;
                                                        "
                                                        >{{
                                                            formattedTimes[i]
                                                        }}</small
                                                    >
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr
                                    style="
                                        position: absolute;
                                        bottom: 0;
                                        height: 45px;
                                        width: 100%;

                                        border-top: solid 1px #60759f;
                                        border-radius: 0 0 10px 10px;
                                        display: flex;
                                        justify-content: center;
                                    "
                                >
                                    <td
                                        routerLink="users/all-chats/{{
                                            user.id
                                        }}"
                                        style="border: none; text-align: center"
                                    >
                                        See all in inbox
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- Notifications -->
                    <div
                        class="animate__animated animate__pulse notHiddenDiv"
                        [hidden]="!showDivNot"
                    >
                        <table
                            style="padding: 0; margin: 0"
                            class="table table-hover"
                        >
                            <thead>
                                <tr>
                                    <th
                                        style="
                                            font-size: larger;

                                            text-align: left;
                                            padding-left: 1vw;
                                            border: none;
                                        "
                                        scope="col"
                                    >
                                        Notifications
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let n of lastFiveNot; let i = index"
                                >
                                    <tr>
                                        <td
                                            style="
                                                cursor: pointer;
                                                height: 68px;
                                                display: flex;
                                                text-align: left;
                                                border: none;
                                                padding-left: 1vw;
                                            "
                                            (click)="openChallenge(n)"
                                        >
                                            <div>
                                                <img
                                                    *ngIf="senderImages[i]"
                                                    style="
                                                        border-radius: 50%;
                                                        width: 52px;
                                                        height: 52px;
                                                        cursor: pointer;
                                                    "
                                                    src="http://localhost:3000/{{
                                                        senderImages[i]
                                                    }}"
                                                />
                                            </div>
                                            <div style="padding-left: 15px">
                                                <span
                                                    *ngIf="!statusOfTheMessage"
                                                    >{{
                                                        n.message.split(
                                                            'from'
                                                        )[0]
                                                    }}<br />{{
                                                        n.message.split(
                                                            'from'
                                                        )[1]
                                                    }}</span
                                                >
                                                <span
                                                    *ngIf="statusOfTheMessage"
                                                    >{{ n.message }}</span
                                                >
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr
                                    style="
                                        position: absolute;
                                        bottom: 0;
                                        height: 45px;
                                        width: 100%;

                                        border-top: solid 1px #60759f;
                                        border-radius: 0 0 10px 10px;
                                        display: flex;
                                        justify-content: center;
                                    "
                                >
                                    <td
                                        routerLink="/users/notifications/{{
                                            user.id
                                        }}"
                                        style="border: none; text-align: center"
                                    >
                                        View All
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div
                        class="animate__animated animate__pulse hiddenDiv"
                        [hidden]="!showDiv"
                    >
                        <div
                            style="
                                width: 100%;
                                height: 80px;
                                border-bottom: solid 1px #60759f;
                            "
                        >
                            <img
                                *ngIf="user.image"
                                class="imagee2"
                                [style.background-image]="
                                    'url(http://localhost:3000/' +
                                    user.image +
                                    ')'
                                "
                            />
                            <span class="username2">{{ user.username }}</span>
                        </div>
                        <div
                            class="referDiv"
                            style="
                                width: 100%;
                                height: 50px;
                                border-bottom: solid 1px #60759f;
                            "
                        >
                            <i class="bi bi-gift gift"></i>
                            <span class="refer">Refer a friend</span>
                        </div>
                        <div
                            class="personDiv"
                            style="width: 100%; height: 50px"
                        >
                            <i class="bi bi-person person"></i>
                            <span class="profile">Profile</span>
                        </div>
                        <div class="gearDiv" style="width: 100%; height: 50px">
                            <i class="bi bi-gear gear"></i>

                            <span class="settings">Settings</span>
                        </div>
                        <div
                            class="globeDiv"
                            style="
                                width: 100%;
                                height: 50px;
                                border-bottom: solid 1px #60759f;
                            "
                        >
                            <i class="bi bi-globe-europe-africa globe"></i>
                            <span class="language">Language</span>
                        </div>
                        <div
                            class="arrowRightiv"
                            style="width: 100%; height: 50px"
                        >
                            <i class="bi bi-box-arrow-right arrowRight"></i>
                            <span (click)="logout()" class="logOut"
                                >Log out</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tournament Code -->

    <div *ngIf="tournamentCodeDiv" class="overlay">
        <div style="height: 230px" class="challengeUser">
            <div>
                <i (click)="closeTournamentCode()" class="bi bi-x closeDiv"></i>
            </div>
            <div
                [style.background-image]="
                    'linear-gradient(to top, #1f2633 20% , transparent ), url(http://localhost:3000/1677863148518-valorantCover.jpeg)'
                "
                class="coverAndInside"
            ></div>
            <h5
                style="
                    color: whitesmoke;
                    position: absolute;
                    top: 140px;
                    left: 120px;
                "
            >
                Copy tournament code into your game.
            </h5>
            <div class="generator">
                <span
                    #myText
                    style="
                        position: absolute;
                        color: #95acda;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        white-space: nowrap;
                    "
                    >{{ tournamentCode }}</span
                >
            </div>
            <span (click)="copied()" class="copy">{{ copy }}</span>
        </div>
    </div>

    <!-- Challenge -->

    <div *ngIf="challengeDiv" class="overlay">
        <div class="challengeUser">
            <div>
                <i (click)="closeHiddenDiv()" class="bi bi-x closeDiv"></i>
            </div>
            <div
                [style.background-image]="
                    'linear-gradient(to top, #1f2633 20% , transparent ), url(http://localhost:3000/1677863148518-valorantCover.jpeg)'
                "
                class="coverAndInside"
            >
                <div class="usernameAndImages">
                    <h5 class="firstUser">{{ user.username }}</h5>
                    <img
                        class="hdImage firstImage"
                        src="http://localhost:3000/{{ user.image }}"
                    />
                    <img
                        class="hdImage secondImage"
                        src="http://localhost:3000/{{ sender.image }}"
                    />
                    <span class="vs">VS</span>
                    <h5 class="secondUser">{{ sender.username }}</h5>
                </div>
            </div>
            <div class="chooseGameAndStake">
                <div class="gameNameStatusStake">
                    <div class="child-div">
                        <span class="gameName"
                            ><span class="three">Game:</span>
                            {{ match.name_of_the_game }}</span
                        >
                    </div>
                    <div class="child-div">
                        <span *ngIf="match.match_status == 0" class="gameName">
                            <span class="three">Status:</span>
                            WAITING</span
                        >

                        <span *ngIf="match.match_status == 1" class="gameName">
                            <span class="three">Status:</span>
                            PENDING</span
                        >

                        <span *ngIf="match.match_status == 2" class="gameName">
                            <span class="three">Status:</span>
                            WINNER</span
                        >
                        <span *ngIf="match.match_status == 3" class="gameName">
                            <span class="three">Status:</span>
                            LOSER</span
                        >
                        <span *ngIf="match.match_status == 4" class="gameName">
                            <span class="three">Status:</span>
                            REJECTED</span
                        >
                    </div>
                    <div class="child-div">
                        <span class="gameName"
                            ><span class="three">Stake:</span>
                            {{ match.total_stake }} tokens</span
                        >
                    </div>
                </div>

                <button
                    (click)="rejectChallenge()"
                    *ngIf="match.match_status == 0"
                    class="messageButton hiddenButton1Posiiton"
                >
                    Reject
                </button>

                <button
                    (click)="acceptChallenge()"
                    *ngIf="match.match_status == 0"
                    class="addFriendButton hiddenButton2Posiiton"
                >
                    Accept!
                </button>
            </div>
        </div>
    </div>

    <!-- Bottom Chat -->
    <div
        *ngIf="showBottomChat"
        style="
            position: fixed;
            bottom: 0;
            right: 4vw;
            width: 278px;
            height: 351px;
        "
    >
        <!-- Bottom Chat Header -->
        <div
            *ngIf="showBottomChatHeader == false"
            (click)="toggleBottomChatHeader()"
            class="bottomChatHeader"
        >
            <img
                *ngIf="senderImageForBottomChatUser"
                class="bottomChatImage"
                src="http://localhost:3000/{{ senderImageForBottomChatUser }}"
            />

            <span routerLink="/users/{{ senderId }}" class="bottomChatusername"
                >{{ senderUsernameForBottomChat }}
            </span>

            <label>
                <i
                    style="
                        color: #95acda;
                        position: absolute;
                        font-size: 16px;
                        top: 13px;
                        right: 50px;
                    "
                    class="bi bi-box-arrow-up-right bottomChatIcons"
                    title="Open in inbox"
                ></i>
                <button
                    style="display: none; visibility: none"
                    class="arrowButton"
                ></button>
            </label>
            <div>
                <label (click)="closeBottomChat()">
                    <i
                        style="
                            color: #95acda;
                            position: absolute;
                            font-size: 19px;

                            top: 13px;
                            right: 20px;
                        "
                        class="bi bi-x-lg bottomChatIcons"
                        title="Close tab"
                    ></i>
                    <button
                        style="display: none; visibility: none"
                        class="arrowButton"
                    ></button>
                </label>
            </div>
        </div>

        <!-- Bottom Chat Header v2 -->
        <div
            *ngIf="showBottomChatHeader == true"
            (click)="toggleBottomChatHeader()"
            class="bottomChatHeader"
            style="position: absolute; top: 297px"
        >
            <img
                *ngIf="senderImageForBottomChatUser"
                class="bottomChatImage"
                src="http://localhost:3000/{{ senderImageForBottomChatUser }}"
            />

            <span routerLink="/users/{{ senderId }}" class="bottomChatusername"
                >{{ senderUsernameForBottomChat }}
            </span>

            <label>
                <button
                    style="display: none; visibility: none"
                    class="arrowButton"
                ></button>
            </label>
            <label (click)="toggleBottomChat()">
                <i
                    style="
                        color: #95acda;
                        position: absolute;
                        font-size: 19px;

                        top: 13px;
                        right: 20px;
                    "
                    class="bi bi-x-lg bottomChatIcons"
                    title="Close tab"
                ></i>
                <button
                    (click)="toggleBottomChat()"
                    style="display: none; visibility: none"
                    class="arrowButton"
                ></button>
            </label>
        </div>

        <div
            *ngIf="showBottomChatHeader == false"
            #messageContainer
            style="
                width: 100%;
                height: 300px;
                position: absolute;
                bottom: 51px;
                left: 0;
                overflow: auto;

                background-color: #1f2633;

                border: solid 1px #2f384c;
            "
        >
            <div
                *ngFor="let m of allMessagesBetweenTwoUsers; let i = index"
                style="
                    display: flex;
                    align-items: stretch;
                    width: 100%;
                    padding-top: 10px;

                    /* border-bottom: solid 1px #2f384c; */
                "
            >
                <div
                    style="
                        position: relative;
                        width: 50px;

                        display: inline-block;
                    "
                >
                    <img
                        *ngIf="
                            this.user.id !== m.sender_id &&
                            senderImageForBottomChatUser
                        "
                        style="
                            position: absolute;
                            bottom: -12px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            margin-bottom: 10px;

                            cursor: pointer;
                        "
                        src="http://localhost:3000/{{
                            senderImageForBottomChatUser
                        }}"
                    />
                </div>
                <div
                    *ngIf="this.user.id !== m.sender_id"
                    class="botChatMessages"
                    [title]="m.message_time | date : 'dd.MM.yyyy, HH:mm'"
                >
                    {{ m.message }}
                </div>
                <div
                    *ngIf="this.user.id == m.sender_id"
                    class="botChatMessages"
                    style="background-color: #16b2ca; margin: 1px 10px 1px auto"
                    [title]="m.message_time | date : 'dd.MM.yyyy, HH:mm'"
                >
                    {{ m.message }}
                </div>
            </div>
        </div>
        <div
            *ngIf="showBottomChatHeader == false"
            style="
                width: 100%;
                height: 52px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #1f2633;
                padding-left: 10px;

                border: solid 1px #2f384c;
            "
        >
            <input
                (keydown.enter)="sendMessage()"
                type="text"
                placeholder="Aa"
                class="form-control search-input borderColor"
                style="
                    position: absolute;
                    top: 7px;
                    height: 35px;
                    width: 225px;
                    background-color: #12161e;
                    border: solid 2px #2f384c;
                    color: whitesmoke;
                "
                [(ngModel)]="messageToBeSent"
            />
            <label (click)="sendMessage()">
                <i
                    style="
                        color: #95acda;
                        position: absolute;
                        font-size: 33px;
                        top: -2px;
                        right: -5px;
                        margin-right: 10px;
                    "
                    class="bi bi-play bottomChatSendButton"
                ></i>
                <button
                    style="display: none; visibility: none"
                    class="arrowButton"
                ></button>
            </label>
        </div>
    </div>
</header>
