<header
  [class.header-change]="headerVariable"
  class="p-3 text-bg-light fixed-top"
>
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="60"
          height="40"
          role="img"
          aria-label="Bootstrap"
          style="
            background-image: url(./../../../../assets/images/black-concrete-wall.jpg);
          "
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/contact" class="nav-link px-2 text-dark">Contact</a></li>
        <li><a routerLink="/games" class="nav-link px-2 text-dark">Games</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">Store</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-danger">Sign-up</button>
      </div>
    </div>
  </div>
</header>
