<header
    [class.header-change]="headerVariable"
    class="p-1 text-bg-light fixed-top"
>
    <div class="containerr">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
                <svg
                    class="bi me-2"
                    width="60"
                    height="40"
                    role="img"
                    aria-label="Bootstrap"
                    style="
                        background-image: url(./../../../../assets/images/black-concrete-wall.jpg);
                    "
                >
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <li>
                    <a routerLink="/" class="nav-link px-2 text-secondary"
                        >Home</a
                    >
                </li>

                <li>
                    <a routerLink="/games" class="nav-link px-2 text-dark"
                        >Games</a
                    >
                </li>
                <li>
                    <a class="nav-link px-2 text-dark">User</a>
                </li>

                <li><a href="#" class="nav-link px-2 text-dark">Store</a></li>
                <li>
                    <a routerLink="/contact" class="nav-link px-2 text-dark"
                        >Contact</a
                    >
                </li>
                <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
                <li>
                    <input
                        [class.search-change]="searchVariable"
                        type="text"
                        placeholder="Search..."
                        class="form-control search-input searchHeader"
                    />
                </li>
            </ul>

            <div class="text-end">
                <button
                    *ngIf="!isLoggedIn"
                    routerLink="/login"
                    type="button"
                    class="btn btn-outline-dark me-2"
                >
                    Login
                </button>
                <button
                    *ngIf="!isLoggedIn"
                    type="button"
                    class="btn btn-danger"
                    routerLink="/register"
                >
                    Sign-up
                </button>

                <div
                    class="threeIconsDiv"
                    *ngIf="isLoggedIn"
                    style="
                        border-right: solid black 1px;
                        /* border: solid red; */
                        width: 200px;
                        height: 20px;
                        position: absolute;
                        top: 2vh;
                        left: 74vw;
                    "
                >
                    <label>
                        <i class="bi bi-wallet walletIcon" title="Wallet"></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDiv()"
                        ></button>
                    </label>

                    <label>
                        <i class="bi bi-chat-text chatIcon" title="Chats"></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDiv()"
                        ></button>
                    </label>

                    <label>
                        <i
                            class="bi bi-bell notificationIcon"
                            title="Notifications"
                        ></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDiv()"
                        ></button>
                    </label>
                </div>

                <div
                    *ngIf="isLoggedIn"
                    style="
                        /* border: solid red; */
                        width: 250px;
                        height: 44px;
                        position: relative;
                    "
                >
                    <img
                        class="imagee"
                        [style.background-image]="
                            'url(http://localhost:3000/' + user.image + ')'
                        "
                    />

                    <span class="username" routerLink="/users/{{ user.id }}">{{
                        user.username
                    }}</span>

                    <label>
                        <i class="bi bi-chevron-down arrowIcon"></i>
                        <button
                            style="display: none; visibility: none"
                            class="arrowButton"
                            (click)="toggleDiv()"
                        ></button>
                    </label>

                    <div
                        class="animate__animated animate__pulse hiddenDiv"
                        [hidden]="!showDiv"
                    >
                        Hidden Div
                        <button
                            (click)="logout()"
                            type="button"
                            class="btn btn-outline-dark me-2"
                        >
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
