<div
    class="container-fluid"
    style="height: 800px; width: 100%; background-color: #181d31"
>
    <div class="row h-100">
        <div
            class="col-4 h-100 d-flex align-items-center justify-content-center"
        >
            <p
                style="
                    color: whitesmoke;
                    font-style: italic;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 1.5vw;
                    line-height: 2.2vw;
                    padding: 6vw;
                "
            >
                Attention all gamers! Get ready for some intense competition on
                our platform. Whether you're a seasoned veteran or just starting
                out, join us for some thrilling games. We're looking for players
                who want to test their skills and compete for the top spot. So,
                gather your friends and join us for some unforgettable gaming
                experiences. <span style="color: #df4759">Let's do this!</span>
            </p>
        </div>

        <div
            class="col-8 h-100 d-flex align-items-center justify-content-center"
            style="border-left: 1px solid white"
        >
            <div
                id="carouselExampleCaptions"
                class="carousel slide carouselContainer"
                data-bs-ride="carousel"
            >
                <div class="carousel-indicators">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                            src="./../../../../assets/images/games/lol.jpg"
                            class="d-block w-100"
                            alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>
                                Some representative placeholder content for the
                                first slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                            src="./../../../../assets/images/games/dota.png"
                            class="d-block w-100"
                            alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>
                                Some representative placeholder content for the
                                second slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                            src="./../../../../assets/images/games/csgo.jpg"
                            class="d-block w-100"
                            alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>
                                Some representative placeholder content for the
                                third slide.
                            </p>
                        </div>
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
