<div
    class="container-fluid"
    style="height: 800px; width: 100%; background-color: #181d31"
>
    <div class="row h-100">
        <div
            class="col-4 h-100 d-flex align-items-center justify-content-center"
        >
            <p
                style="
                    color: whitesmoke;

                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.5vw;
                    line-height: 2vw;
                    padding: 6vw;
                "
            >
                Attention all gamers! Get ready for some intense competition on
                our platform. Whether you're a seasoned veteran or just starting
                out, join us for some thrilling games. We're looking for players
                who want to test their skills and compete for the top spot. So,
                gather your friends and join us for some unforgettable gaming
                experiences. <span style="color: #df4759">Let's do this!</span>
            </p>
        </div>

        <div
            class="col-8 h-100 d-flex align-items-center justify-content-center"
            style="border-left: 1px solid white"
        >
            <div
                id="carouselExampleCaptions"
                class="carousel slide carouselContainer"
                data-bs-ride="carousel"
            >
                <div class="carousel-indicators">
                    <button
                        *ngFor="let game of games; let i = index"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0"
                        [attr.aria-current]="i === 0 ? 'true' : null"
                        [attr.aria-label]="'Slide ' + (i + 1)"
                    ></button>
                </div>

                <div class="carousel-inner">
                    <div
                        *ngFor="let game of games; let i = index"
                        class="carousel-item"
                        [class.active]="i === 0"
                    >
                        <img
                            [src]="'http://localhost:3000/' + game.cover"
                            class="d-block w-100"
                            alt="{{ game.name_of_the_game }}"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ game.name_of_the_game }}</h5>
                        </div>
                    </div>
                </div>

                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
