.containerr {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 2000px;
    background-color: #171c26;
    position: relative;
    overflow: hidden;
}

.background {
    height: 500px;

    background-position: center;

    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imagee {
    position: relative;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    top: 10%;
    left: 16vw;
}
.ngImage:hover {
    transform: scale(1.08);
    transition: all 0.5s;
}

.imageIcon {
    position: absolute;
    top: 2.3vh;
    left: 24vw;
    z-index: 1;
    cursor: pointer;
}
.changeGamePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
    border: solid #171c26 1px;
    border-radius: 10px 10px 10px 10px;
    background-color: #2f384c;
}
.changeGamePicture:hover {
    background-color: #171c26;
}

.coverIcon {
    position: absolute;
    top: -30.5vh;
    right: -0.14vw;
    cursor: pointer;
}

.changeBanner {
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f384c;
    color: white;
    border: solid #171c26 1px;
    border-radius: 7px 7px 7px 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.changeBanner:hover {
    background-color: #171c26;
}

.text {
    color: whitesmoke;
    position: relative;
    left: 1vw;
    top: 38%;
}
.container {
    padding-top: 600px;
}
.summonerImage {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    position: relative;
    left: 1vw;
    top: 38%;
}
.summonerName {
    color: whitesmoke;
    position: relative;
    left: 3.5vw;
    top: 27.5%;
}
.summonerName:hover {
    cursor: pointer;
    color: turquoise;
}
.ajmo {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 18%;
}
h1,
a {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
    .imagee {
        left: 3vw;
        height: 150px;
        width: 115px;
    }
    .coverIcon {
        font-size: 30px;
        top: 35%;
    }
    .summonerImage {
        height: 20px;
        width: 20px;
    }
}

// ///////////////////////////////////////

.navBar {
    background-color: #171c26;
}
.nav-link {
    margin-right: 2vw;
    color: #95acda;
}
.nav-link:hover {
    color: white;
}
.nav {
    font-size: large;
    font-weight: bold;
    border-bottom: solid 1px #95acda;
}
.active {
    color: white;
    border-bottom: solid 2px turquoise;
}
