<div class="containerr">
    <div
        class="background"
        style="background-image: url('http://localhost:3000/{{ game.cover }} ')"
    ></div>

    <div class="row ajmo">
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
            <img class="imagee" src="http://localhost:3000/{{ game.image }}" />
            <label class="imageIcon">
                <i
                    style="cursor: pointer; font-size: 25px"
                    class="bi bi-three-dots text-info"
                ></i>

                <input
                    type="file"
                    style="display: none; visibility: none"
                    (change)="uploadImageForGame($event)"
                />
            </label>
            <label class="coverIcon">
                <i class="bi bi-three-dots text-info"></i>

                <input
                    type="file"
                    style="display: none; visibility: none"
                    (change)="uploadCoverForGame($event)"
                />
            </label>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
            <h1 class="text">{{ game.name_of_the_game }}</h1>
            <img
                class="summonerImage"
                src="./../../../../assets/images/traker.webp"
                alt=""
            />
            <h6 class="summonerName">Polutopli-sendvic</h6>
        </div>
    </div>

    <!-- //////////////////////////////////////////////// -->

    <div style="height: 2000px" class="container">
        <nav class="p-4 navBar">
            <ul class="nav col-12 col-lg-auto me-lg-auto">
                <li>
                    <a routerLink="/" class="nav-link px-0 ms-0">Overview</a>
                </li>
                <li>
                    <a routerLink="/contact" class="nav-link px-0 ms-0"
                        >Contact</a
                    >
                </li>
                <li>
                    <a routerLink="/games" class="nav-link px-0 ms-0">Games</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0 ms-0">Store</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0 ms-0">FAQs</a>
                </li>
                <li>
                    <a href="#" class="nav-link ppx-0 ms-0">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
