<div class="containerr">
    <div
        *ngIf="game.cover"
        class="background"
        [style.background-image]="
            'linear-gradient(to top, #171c26 , transparent), url(http://localhost:3000/' +
            game.cover +
            ')'
        "
    ></div>
    <!-- style="background-image:url('http://localhost:3000/{{ game.cover }}')" ovako je trebalo ali nije htjelo linear da doda -->

    <div class="row ajmo">
        <div class="dva col-lg-3 col-md-4 col-sm-4 col-4">
            <img
                *ngIf="game.image"
                [class.ngImage]="!user.isAdmin"
                class="imagee"
                src="http://localhost:3000/{{ game.image }}"
            />
            <label
                *ngIf="user.isAdmin"
                class="imageIcon"
                title="Update game picture"
            >
                <div class="changeGamePicture">
                    <i class="bi bi-camera-fill cameraIcon"></i>
                </div>

                <input
                    type="file"
                    style="display: none; visibility: none"
                    (change)="uploadImageForGame($event)"
                />
            </label>
            <label *ngIf="user.isAdmin" class="coverIcon">
                <div class="changeBanner">
                    <i class="bi bi-camera-fill"></i>
                    <span
                        style="font-size: small; font-weight: bold; margin: 7px"
                        >Upload banner</span
                    >
                </div>

                <input
                    type="file"
                    style="display: none; visibility: none"
                    (change)="uploadCoverForGame($event)"
                />
            </label>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
            <h1 class="text">{{ game.name_of_the_game }}</h1>
            <img
                class="summonerImage"
                src="./../../../../assets/images/traker.webp"
                alt=""
            />
            <h6 class="summonerName">Polutopli-sendvic</h6>
        </div>
    </div>

    <!-- //////////////////////////////////////////////// -->

    <div style="height: 2000px" class="container">
        <nav class="p-4 navBar">
            <ul class="nav col-12 col-lg-auto me-lg-auto">
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLink="/single-game/{{ game.id }}"
                        class="nav-link px-0 ms-0"
                        >Overview</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        routerLink="/single-game/{{ game.id }}/ranking"
                        class="nav-link px-0 ms-0"
                        >Ranking</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        routerLink="#"
                        class="nav-link px-0 ms-0"
                        >Rules</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        href="#"
                        class="nav-link px-0 ms-0"
                        >Store</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        href="#"
                        class="nav-link px-0 ms-0"
                        >FAQs</a
                    >
                </li>
                <li>
                    <a
                        [routerLinkActive]="'active'"
                        href="#"
                        class="nav-link ppx-0 ms-0"
                        >About</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</div>
