.containerr {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 2000px;
    background-color: #0f0e0e;
    position: relative;
    overflow: hidden;
}

.background {
    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imagee {
    position: relative;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    top: 10%;
    left: 16vw;
}
.imagee:hover {
    transform: scale(1.08);
    transition: all 0.5s;
}
.imageIcon {
    position: absolute;
    top: 8.5%;
    left: 23.3vw;
}
.coverIcon {
    position: absolute;
    top: 30%;
    left: 95vw;
    font-size: 40px;
    cursor: pointer;
}

.text {
    color: whitesmoke;
    position: relative;
    left: 1vw;
    top: 38%;
}
.container {
    padding-top: 600px;
}
.summonerImage {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    position: relative;
    left: 1vw;
    top: 38%;
}
.summonerName {
    color: whitesmoke;
    position: relative;
    left: 3.5vw;
    top: 27.5%;
}
.summonerName:hover {
    cursor: pointer;
    color: turquoise;
}
.ajmo {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 18%;
}

@media screen and (max-width: 480px) {
    .imagee {
        left: 3vw;
        height: 150px;
        width: 115px;
    }
    .coverIcon {
        font-size: 30px;
        top: 35%;
    }
    .summonerImage {
        height: 20px;
        width: 20px;
    }
}

// ///////////////////////////////////////

.navBar {
    background-color: #0f0e0e;
}
.nav-link {
    margin-right: 2vw;
    color: #a39ea8;
}
.nav {
    font-size: large;
    font-weight: bold;
    border-bottom: solid 1px #a39ea8;
}
.active {
    border-bottom: solid 2px turquoise;
}
