<div class="parallax">
    <div
        class="parallax-background"
        style="background-image: url('./../../../../assets/images/zed.png')"
    ></div>
    <div class="row" style="padding: 100px">
        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">plameni</div>
                    <span>
                        This PvP platform is where I truly shine. I've climbed
                        the ranks and become one of the best players on the
                        platform, thanks to the token-based system that pushes
                        me to be my best. If you're looking for a challenge,
                        this is the place to be.</span
                    >
                </div>
                <div class="footer">
                    <span id="name">player<br /></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">veljasboas</div>
                    <span>
                        I've been a part of several PvP gaming platforms, but
                        none have come close to the excitement and
                        competitiveness of this one. The token-based system
                        makes the stakes feel real, and the rush of winning is
                        unbeatable.</span
                    >
                </div>
                <div class="footer">
                    <span id="name">player<br /></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">ajzakbarabcina</div>
                    <span>
                        I was hesitant to try this PvP platform at first, but
                        I'm so glad I did. The tokens add a level of intensity
                        that keeps me coming back for more. Plus, the community
                        is friendly and welcoming, which makes for a great
                        gaming experience.</span
                    >
                </div>
                <div class="footer">
                    <span id="name">player<br /></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">strucnjak</div>
                    <span>
                        I've been gaming for years, and this PvP platform is one
                        of the best I've seen. The token system adds strategy to
                        the matches, and the community is always active. Highly
                        recommended.
                    </span>
                </div>
                <div class="footer">
                    <span id="name"><br />player</span>
                </div>
            </div>
        </div>
    </div>
</div>
