<!-- <div class="containerr">
  <div class="row" style="padding: 100px;">

      <div class="col-md-3">
          <div class="card d-flex mx-auto">
              <div class="card-image">
                  <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/3TlwnLF.jpg">
              </div>
              <div class="card-text">
                  <div class="card-title">Lorem Ipsum!</div> <span>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                  Aenean massa. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  Maecenas nec odio et ante tincidunt tempus
                  Duis leo. Donec sodales sagittis magna</span>
              </div>
              <div class="footer">
                  <span id="name">Micheal Smith<br></span>
                  
              </div>
          </div>
      </div>

      <div class="col-md-3">
        <div class="card d-flex mx-auto">
            <div class="card-image">
                <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/3TlwnLF.jpg">
            </div>
            <div class="card-text">
                <div class="card-title">Lorem Ipsum!</div><span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                Aenean massa. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                Maecenas nec odio et ante tincidunt tempus
                Duis leo. Donec sodales sagittis magna</span>
            </div>
            <div class="footer">
                <span id="name">Micheal Smith<br></span>
                
            </div>
        </div>
    </div>



      <div class="col-md-3">
          <div class="card d-flex mx-auto">
              <div class="card-image">
                  <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/Uz4FjGZ.jpg">
              </div>
              <div class="card-text">
                  <div class="card-title">Lorem Ipsum!</div><span>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                  Aenean massa. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  Maecenas nec odio et ante tincidunt tempus
                  Duis leo. Donec sodales sagittis magna</span>
              </div>
              <div class="footer">
                  <span id="name">Angellia Miller<br></span>
                  
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card d-flex mx-auto ">
              <div class="card-image">
                  <img class="img-fluid d-flex mx-auto" src="https://i.imgur.com/udGH5tO.jpg">
              </div>
              <div class="card-text">
                  <div class="card-title">Lorem Ipsum!</div><span>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                  Aenean massa. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                  Maecenas nec odio et ante tincidunt tempus
                  Duis leo. Donec sodales sagittis magna</span>
              </div>
              <div class="footer">
                  <span id="name">Christina Williams<br></span>
                  
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="parallax">
    <div
        class="parallax-background"
        style="background-image: url('./../../../../assets/images/zed.png')"
    ></div>
    <div class="row" style="padding: 100px">
        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">Lorem Ipsum!</div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                        id, lorem. Maecenas nec odio et ante tincidunt tempus
                        Duis leo. Donec sodales sagittis magna</span
                    >
                </div>
                <div class="footer">
                    <span id="name">Micheal Smith<br /></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">Lorem Ipsum!</div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                        id, lorem. Maecenas nec odio et ante tincidunt tempus
                        Duis leo. Donec sodales sagittis magna</span
                    >
                </div>
                <div class="footer">
                    <span id="name">Micheal Smith<br /></span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">Lorem Ipsum!</div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                        id, lorem. Maecenas nec odio et ante tincidunt tempus
                        Duis leo. Donec sodales sagittis magna</span
                    >
                </div>
                <div class="footer">
                    <span id="name">Micheal Smith<br /></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex mx-auto">
                <div class="card-image">
                    <img
                        class="img-fluid d-flex mx-auto"
                        src="https://i.imgur.com/3TlwnLF.jpg"
                    />
                </div>
                <div class="card-text">
                    <div class="card-title">Lorem Ipsum!</div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor. Aenean massa.
                        Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                        id, lorem. Maecenas nec odio et ante tincidunt tempus
                        Duis leo. Donec sodales sagittis magna</span
                    >
                </div>
                <div class="footer">
                    <span id="name">Micheal Smith<br /></span>
                </div>
            </div>
        </div>
    </div>
</div>
