<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div style="background-color: #171c26">
    <div class="container tabela">
        <h1>Games</h1>

        <div class="input-group mb-3">
            <input
                type="text"
                placeholder="Search for game..."
                class="form-control search-input borderColor"
                style="
                    background-color: #12161e;
                    border-color: #2f384c;
                    color: whitesmoke;
                    margin-bottom: 20px;
                    margin-top: 20px;
                "
            />
        </div>

        <div class="row row-cols-1 row-cols-md-6 g-3">
            <div *ngFor="let g of games" class="col">
                <div [class.ngCard]="!user.isAdmin" class="card">
                    <img
                        *ngIf="isLoggedIn"
                        routerLink="/single-game/{{ g.id }}"
                        src="http://localhost:3000/{{ g.image }}"
                    />
                    <img
                        *ngIf="!isLoggedIn"
                        routerLink="/login"
                        src="http://localhost:3000/{{ g.image }}"
                    />

                    <button
                        *ngIf="user.isAdmin"
                        class="btn delete"
                        (click)="deleteGame(g.id)"
                    >
                        <i class="fa fa-trash text-danger"></i>
                    </button>
                    <button
                        *ngIf="user.isAdmin"
                        class="btn edit"
                        routerLink="/admin/edit-game/{{ g.id }}"
                    >
                        <i class="fa fa-edit text-info"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-end">
            <button
                *ngIf="user.isAdmin"
                style="margin-top: 70px"
                type="button"
                class="btn btn-warning btn-lg mx-auto"
                routerLink="/admin/add-game"
            >
                Add New Game
            </button>
        </div>
    </div>
</div>
