.tabela{
    
   
    background-color: #0F0E0E;
    padding-top: 150px;
    padding-bottom: 200px;
    
}
h1{
    
    padding-top: 50px;

    color: whitesmoke;
}

h4{
    color: whitesmoke;
    -webkit-text-stroke: 0.4px #df4759;
    
}

.card{
    border-color: #20262E;
    
    border-style: hidden;
    cursor: pointer;
   
   
}
.card:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}



