.tabela {
    background-color: #171c26;
    padding-top: 120px;
    padding-bottom: 250px;
    // border: solid red;
}
h1 {
    padding-top: 50px;

    color: whitesmoke;
}

h4 {
    color: whitesmoke;
    -webkit-text-stroke: 0.4px #df4759;
}

.card {
    border-style: hidden;
    cursor: pointer;
}
.ngCard:hover {
    transform: scale(1.08);
    transition: all 0.5s;
}

.borderColor:hover {
    border-style: solid 1px !important;
    border-color: turquoise !important;
}
.borderColor:focus {
    box-shadow: none;
    outline: 1px solid turquoise;
}
.delete {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0;
    font-size: 30px;
}
.edit {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0;
    font-size: 30px;
}
