<div class="parallax">
    <div
        class="parallax-background"
        style="background-image: url('./../../../../assets/images/zed.png')"
    ></div>
    <div class="parallax-text mx-auto my-auto text-center">
        <div class="container">
            <h1 class="text-light">
                Unleash Your Competitive Spirit:<br />
                Join the <span style="color: #df4759">PVP</span> Gaming
                Revolution! <br /><button
                    *ngIf="!isLoggedIn"
                    type="button"
                    class="btn btn-danger btn-lg"
                >
                    Sign-up
                </button>
            </h1>
        </div>
    </div>
</div>

<div class="py-4" style="background-color: whitesmoke">
    <h1 class="text-center text-dark">Browse Games:</h1>
</div>

<app-games-slider></app-games-slider>

<div class="py-4" style="background-color: whitesmoke">
    <h1 class="text-center text-dark">Testimonials:</h1>
</div>

<app-testemonials></app-testemonials>
